@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

section.meComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  overflow-y: auto;

  > div.me {
    $horizontalSpacing: 16px;
    $verticalSpacing: 16px;

    display: flex;
    margin: ($verticalSpacing / 2) ($horizontalSpacing / 2);

    width: calc(100% - #{$horizontalSpacing});
    @media (min-width: 382px) {
      width: 366px;
    }

    > img.icon {
      width: 56px;
      height: 56px;

      margin: ($verticalSpacing / 2) ($horizontalSpacing / 2);

      opacity: 0;
      animation: 250ms ease-in 1550ms forwards fadeIn;
    }

    > div.text {
      display: flex;
      flex-direction: column;

      margin: ($verticalSpacing / 2) ($horizontalSpacing / 2);

      > h1.name {
        margin: 0px;
        font: 300 32px / 1 "M+ 1p", sans-serif;
      }

      > p.description {
        margin: ($verticalSpacing / 2) 0px 0px 0px;
        font: 16px / 1 "M+ 1p", sans-serif;
      }

      > div.links {
        display: flex;
        margin-top: $verticalSpacing;

        opacity: 0;
        animation: 250ms ease-in 1550ms forwards fadeIn;

        > a.link {
          width: 16px;
          overflow: hidden;

          white-space: nowrap;
          text-decoration: none;
          font-size: 16px;
          color: rgba(black, 0.54);

          transition-property: width, color;
          transition-duration: 175ms;
          transition-timing-function: ease-in-out;

          &:hover {
            &.to104px { width: 104px; }
            &.to106px { width: 106px; }
            &.to93px { width: 93px; }

            color: rgba(#F50057, 0.87);
          }

          + a.link {
            margin-left: $horizontalSpacing;
          }

          > span {
            margin-left: $horizontalSpacing / 2;

            font-family: "M+ 1p", sans-serif;
            line-height: 1;
          }
        }
      }
    }
  }
}
