@import "~normalize.css/normalize.css";
@import "./styles/fonts";

html {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  > body {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100%;
  }
}

@import "./components/me/me";
@import "./components/main/main";
